body {
  background: #fce8f1;
  font-family: "Heebo", sans-serif;
  letter-spacing: normal;
  font-weight: 800;
}

a {
  color: #8d435b;
}

img {
  float: left;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  padding-top: 70px;
  color: #c46487;
  font-family: "Kaushan Script", cursive;
}

.App {
  max-width: 950px;
  margin: 0 auto;
}
.App-header h2 {
  font-size: 16px;
  opacity: 0.7;
}
.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 200px;
  display: block;
  padding: 20px;
  margin: 0px;
}

.App-footer {
  margin: 30px 0;
}
